body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    background-image: url(images/17973911.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    background-color: rgba(226, 245, 252, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
}

.result-b {
    background-color: #fefefe;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.result {
    background-color: rgba(18, 48, 65, 0.9);
    color: #fff;
    border-radius: 0 0 0 65px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.monthly_repayments {
    background-color: #0f2430;
    padding: 20px;
    border-radius: 8px;
    border-top: 4px solid #a4b54f;
    margin-top: 20px;
}

h3 {
    color: #123043;
    margin-bottom: 20px;
    align-self: flex-start;
    display: inline-block;

}

h4 {
    color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    margin-top: 15px;
    color: #65696d;
    font-size: 16px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #d8db2e;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

input[type="reset"] {
    background: none;
    border: none;
    color: #a3adb3;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
    display: inline-block;
}

.result p {
    margin: 5px 0;
}

hr {
    margin: 20px 0;
}

.lorem {
    color: #83a4b1;
    font-size: 14px;
}

#monthly-repayments {
    color: #c7cb44;
    font-size: 32px;
}

#total_repay {
    color: #dce2e7;
    font-size: 18px;
    margin-top: 15px;
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.radio input {
    display: none;
}

.radio span {
    position: relative;
    padding-left: 25px;
    line-height: 18px;
    color: #65696d;
    font-size: 16px;
}

.radio span:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #aaac57;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(239, 239, 194, 0.8);
}

.radio input:checked + span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #c2c732;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .calculator-wrapper {
        flex-direction: column;
    }

    .calculator, .result-b {
        width: 100%;
        border-radius: 15px;
    }

    .result {
        border-radius: 15px 15px 0 0;
    }
}
